<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xsscd.monitor.air.southwest.modules.system.entitys.mybatis.mapper.TestMapper">

    <select id="queryCount" resultType="Integer">
    	SELECT count(1) FROM easymis_member
    </select>  
    
</mapper>